# Example:
# min   hour    date    month   week    command
# *     *       *       *       *       command

# Cron testing
*   *   *   *   *   date > ~/cron-alive-log

# Pull github repos every 3 hour
1   */3   *   *   *   export BATCH_SHELL_LOG_DIR=/data/trac/tmp/logs; ~/github/AdminShells/TaskScheduler/batch-shell.sh --daily /data/trac/etc/shells/pull-github.sh

# backup trac data at 14:00/23:00 every day
0   14,23   *   *   *   export BATCH_SHELL_LOG_DIR=/data/trac/tmp/logs; ~/github/AdminShells/TaskScheduler/batch-shell.sh /data/trac/etc/shells/trac-backup.sh
